WebPage/Connected Services/WebServiceProyeceto/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ProyectoDise%C3%B1oAplicaciones" />
  <xs:element name="GetCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        <xs:element minOccurs="0" name="nombreCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefonoCliente" type="xs:int" />
        <xs:element minOccurs="0" name="direccionCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProyectoDise%C3%B1oAplicaciones" minOccurs="0" name="GetClienteResult" nillable="true" type="q1:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>